body{
  background-image: url(./wall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
h1{
  text-align: center;
}
select {
  padding: 10px;
  width: 53vh;
  margin-top: 16px;
  border-radius: 8px;
}
button {
  margin-top: 16px;
  padding: 10px;
  width: 53vh;
  background-color: #c2e7ff;
  border-radius: 8px;
  border: none;
}

input {
  padding: 10px;
  width: 50vh;
  margin-top: 16px;
  border-radius: 8px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px;
}
th{
  color: white;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
td{
  color: white;
}

tr:nth-child(even) {
  background-color: #352d2d;
}
.delete{
  text-align: center;
  cursor: pointer;
}
