.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
button {
  margin-top: 16px;
  padding: 10px;
  width: 53vh;
  background-color: #c2e7ff;
  border-radius: 8px;
  border: none;
}

input {
  padding: 10px;
  width: 50vh;
  margin-top: 16px;
  border-radius: 8px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
